@import "tailwindcss";

body {
  background-color: #f4fcfd;
  color: #133a4a;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-enter {
  animation: popIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}